body {
  background-color: #f9edbe;
  color: #06060f;
  /* text-emphasis-color: #393652;
  accent-color: #99ccd6;
  accent-color: #e995aa; */
  font-family: "Gaegu";
}

a:any-link{
    color: #393652;
}

a:visited{
    color: #e995aa;
}

.gaegu-regular {
  font-family: "Gaegu", sans-serif;
  font-weight: 400;
  font-style: normal;
}