@import "fonts.css";
@import "formats.css";

:root {
    /*will be replaced with textured image*/
    --color-dark: black;
    --color-text: #9CC25A;
    --color-light: #FBFEE5;
    --color-gray: #606257;
}

body {
    color: var(--color-text);
    background-color: var(--color-dark);
    background-image: url('https://img.freepik.com/free-photo/abstract-geometric-background-shapes-texture_1194-305448.jpg');
    background-repeat: repeat;
    font-family: "VT323";
    font-size: 2vh;
    /*box-sizing: border-box;*/
    border-width: 4px;
}

h1 {
    margin: 0px;
    font-size: 2vh;
    text-align: center;
    font-family: "Sixtyfour", normal;
}

h2 {
    text-align: center;
    font-family: "Jersey 10";
}


/* CONTAINERS ================================================================== */

/* page: to hold all the elements in one central area */
/* PAGE DIMS IN TERMS OF VIEWINDOW*/
.page { 
    width: 80vw;
    height: 92vh;
    margin: 0 auto;
    margin: 4vh auto;
}

/* ELEMENT DIMS IN TERMS OF EM*/
.header {  
    height: 15%;
    border-style: ridge;
    border-color: var(--color-text);
    
    background-image: url('/subahibi2.png');
    background-size: 100%;
    background-position-y: 30%;
} 

.main {
    display: flex;
    height: 71%;
    margin: 0.5vh 0;
    border-style: ridge;
    border-color: var(--color-text);
}

/*TODO: border height/style as variable*/
.footer {
    height: 10%;
    border-style: ridge;
    border-color: var(--color-text);
}

/* MIDDLE CONTENT ==================================================================================*/

.column{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: var(--color-dark) var(--color-text);
    
    background-repeat: repeat;
}

.colLeft, .colRight {
    background: var(--color-light);
    background-image: url('https://i.pinimg.com/736x/7f/83/6c/7f836c01687c28677d8ca331cb96c346.jpg');
    background-size: cover;
    background-position: center;
}

.colContent {
    margin: 0.5vw;
}

/*MIDDLE COLUMN ==================================================================================*/
.colMiddle {
    width: 50vw;  
    border-color: var(--color-text);
    border-left-style: ridge;
    border-right-style: ridge;
    
    background-image: url('https://img.freepik.com/free-photo/abstract-geometric-background-shapes-texture_1194-305448.jpg');
    background-repeat: repeat;    
}
    .aboutLayer1 {
        background-image: url('https://images.pexels.com/photos/6788340/pexels-photo-6788340.jpeg?cs=srgb&dl=pexels-polina-kovaleva-6788340.jpg&fm=jpg');
        background-size: 100%;
        padding: 10px;
    }
    
        .aboutLayer2 {
            background-image: url('https://i.pinimg.com/736x/1d/bf/62/1dbf6242af15d8b935f46551b2f50a87.jpg');
            background-size: 100%;
            padding: 10px;
            
        }
        
            .aboutText {
                margin: 0;
                padding: 1vh 0 0 10px;
            }

/* LEFT SIDEBAR  ==================================================================================*/
.colLeft {
    width: 13vw;   
}

    .navLayer1{
        background-image: url('https://img1.picmix.com/output/stamp/normal/6/4/1/2/1982146_f1ed3.gif');
        background-color: var(--color-dark);
        background-size: 100% 100%;
    }
        
        .navLayer2 {
            color: var(--color-text);
            margin: 0;
            padding: 10px;
        }
        
    .monster {
        padding: 10px;
        height: 10vw;
    }

/* RIGHT SIDEBAR  ==================================================================================*/
.colRight{
  width: 17vw;   
}


